{% extends "index.html" %}

{% block content %}

<div class="info">
    <p>Главная страница "НПОА Еда"</p>
</div
><p class="date">Current date</p>
<style>
    .order td,th {
        border: solid 1pt;
        padding: 3pt;
    }
    .order th {
        background-color: grey
    }
</style>
<div class="order">
    {% if order_list != None %}
    <table id="orders_tbl">
        <thead id="orders_head">
            <tr>
                <th>№ п/п</th>
                <th>ФИО</th>
                <th>Состав заказа</th>
                <th>Комментарий</th>
                <th>Цена заказа (без скидки)</th>
                <th>Цена заказа (со скидкой)</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="orders_body">
            {% for order in order_list %}
            <tr id="order_line">
                <td>{{ order.id }}</td>
                <td id="order_customer">{{ order.name }}</td>
                <td>{{ order.order }}</td>
                <td>{{ order.comment }}</td>
                <td id="all_price_cell">{{ order.all_price }}</td>
                <td id="sale_price_cell">{{ order.sale_price }}</td>
                {% if(order.name == curent_user) %}
                <td><button>Редактировать</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="calc-btn">Расчитать</button>
    {% endif %}
</div>
<!-- Добавить инфу о имеющихся страницах -->

{% endblock content %}