{% extends "index.html" %}

{% block content %}

<div class="addOrder">
    <form name = "do_oders" method="POST" id = "do_order_form">
        {{ order_form.csrf_token }} 
        <h3>Заказ</h3>
            {{ order_form.name }}
        <hr>
        <p>
            {{ order_form.order }}
        </p>
        <p>
            {{ order_form.all_price }}
            {{ order_form.sale_price }}
        </p>
        <p><Br>
            {{ order_form.comment }}
        </p>
        <p>
            <input type="submit" value="Отправить" id="js-order-form">
        </p>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</div>
<!-- Добавить инфу о имеющихся страницах -->

{% endblock content %}