<html lang="RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>НПОА Еда</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/login_register.css" type="text/css">
    <script src="/static/js/vuejs/vue.min.js"></script>
    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/open_modal_window.js?v182"></script>
</head>

<body>
    <div class="left nav-bar">
        <div class="login_register">
            <span><a href="#login" class="js-window-open">login</a></span>
            <span><a href="#register" class="js-window-open">registration</a></span>
        </div>
        <div>
            <h2><a class="go_main" id="js-go_main">На главную</a></h2><hr>
            <h2><a href="#login" class="js-window-open" id="js-do_orders">Сделать заказ</a></h2>
        <hr>
        </div>
    </div>

    <div class="content">
        {% block content %}
        <h2>Oups!</h2>
        <p>Something went wrong. I've got empty content</p>
        {% endblock content %}
    </div>

    <div class="modal" id="login">
        <div class="modal__window">
            <form action = "login" name = "login" method = "POST" class="modal__window-form" id = "login-form">
                <div id="log_msg"></div>
                <div>
                    {{ login_form.csrf_token }} 
                    {{ login_form.name }}<br>
                    {{ login_form.password }}
                </div>
                <input type="submit" id = "js-login-form"value="Отправить">
                <button href="#register" class="js-window-open">Зарегестрироваться</button>
            </form>
        </div>
    </div>

    <div class="modal" id="register">
        <div class="modal__window">
            <form action="register" name = "register" method ="POST" class="modal__window-form" id = "register-form">
                <div id="reg_msg"></div>
                <div>
                    {{ register_form.csrf_token }} 
                    {{ register_form.name }}<br>
                    {{ register_form.mail }}<br>
                    {{ register_form.password }}<br>
                    {{ register_form.confirm_password }}
                </div>
                <!--<button id = "js-register-form">Отправить</button>-->
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>

    <footer>
        <div id="time">
            <hr>
            <p v-text='time'>
                Здесь должно было быть локальное время и дата
                но не было найдено библиотеки vue.js
            </p>
        </div>
    </footer>
</body>
<div class="scripts">
    <script type="text/javascript">
        var time = new Vue({
            delimiters: ['{*', '*}'],
            el: '#time',
            data: {
                time: new Date(),
            }
        });
    </script>
    <script>
        function show() {
            time.time = new Date();
        }
        show();
        $(document).ready(function () {
            setInterval(show, 1000);
        })
    </script>
</div>

</html>