@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.login_register {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  width: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.2s;
}
.modal__window {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 80vh;
  background-color: #ffffff;
  border-radius: 8px;
  transition: 0.2s;
  transform: translateY(-50px);
}
.modal__window-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.modal--screen-height .modal__window {
  height: 80vh;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--active .modal__window {
  transform: translateY(0);
}
.modal--has-scroll .modal__window-header,
.modal--has-scroll .modal__window-footer {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=login_register.css.map */
