body {
  background-color: azure;
  font-family: monospace;
}
р {
  white-space: pre;
}
table, td {
  border: 1px solid #000;
}
td:hover{
  background-color: beige;
}
.nav-bar {
  width: 15em;
  height: 95%;
  padding: 0 10px 0 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar a,
footer a {
  text-decoration: none;
}
.nav-bar a:hover,
footer a:hover {
  color: #f00;
}
.left{
  float: left;
  border-right: 1px solid #0ae;
  display: block;
}
.content{
  float: left;
  padding: 0 15px;
}
.nav-bar li{
  list-style-type: lower-greek;
}
footer{
  clear: both;
  width: 100%;
  height: 2%;
}
.nav-bar a#main{
  text-align: center;
}
footer {
  text-align: center;
  position: sticky;
}
hr{
  color: #0ae;
}
table td p{
  padding: 3px;
  text-align: center;
}